In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

data = pd.read_csv("housing.csv")

In [2]:
data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [3]:
data['ocean_proximity'].value_counts()

ocean_proximity
<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: count, dtype: int64

In [4]:
data_shuffled = data.sample(n=len(data), random_state=1) # shuffle dataset

In [5]:
data_shuffled

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
4712,-118.36,34.06,39.0,2810.0,670.0,1109.0,624.0,3.2500,355000.0,<1H OCEAN
2151,-119.78,36.78,37.0,2185.0,455.0,1143.0,438.0,1.9784,70700.0,INLAND
15927,-122.42,37.73,46.0,1819.0,411.0,1534.0,406.0,4.0132,229400.0,NEAR BAY
82,-122.28,37.81,52.0,340.0,97.0,200.0,87.0,1.5208,112500.0,NEAR BAY
8161,-118.13,33.82,37.0,1530.0,290.0,711.0,283.0,5.1795,225400.0,<1H OCEAN
...,...,...,...,...,...,...,...,...,...,...
10955,-117.88,33.76,17.0,1768.0,474.0,1079.0,436.0,1.7823,205300.0,<1H OCEAN
17289,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0,<1H OCEAN
5192,-118.26,33.93,42.0,1433.0,295.0,775.0,293.0,1.1326,104800.0,<1H OCEAN
12172,-117.16,33.73,10.0,2381.0,454.0,1323.0,477.0,2.6322,140700.0,INLAND
235,-122.20,37.79,35.0,1802.0,459.0,1009.0,390.0,2.3036,126000.0,NEAR BAY

In [6]:
data_shuffled = pd.concat([data_shuffled.drop('ocean_proximity', axis=1), 
                         pd.get_dummies(data_shuffled['ocean_proximity'])], axis=1) # converte ocean proximity in boolean values

In [7]:
data_shuffled

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN
4712,-118.36,34.06,39.0,2810.0,670.0,1109.0,624.0,3.2500,355000.0,True,False,False,False,False
2151,-119.78,36.78,37.0,2185.0,455.0,1143.0,438.0,1.9784,70700.0,False,True,False,False,False
15927,-122.42,37.73,46.0,1819.0,411.0,1534.0,406.0,4.0132,229400.0,False,False,False,True,False
82,-122.28,37.81,52.0,340.0,97.0,200.0,87.0,1.5208,112500.0,False,False,False,True,False
8161,-118.13,33.82,37.0,1530.0,290.0,711.0,283.0,5.1795,225400.0,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10955,-117.88,33.76,17.0,1768.0,474.0,1079.0,436.0,1.7823,205300.0,True,False,False,False,False
17289,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0,True,False,False,False,False
5192,-118.26,33.93,42.0,1433.0,295.0,775.0,293.0,1.1326,104800.0,True,False,False,False,False
12172,-117.16,33.73,10.0,2381.0,454.0,1323.0,477.0,2.6322,140700.0,False,True,False,False,False
235,-122.20,37.79,35.0,1802.0,459.0,1009.0,390.0,2.3036,126000.0,False,False,False,True,False

In [8]:
data_shuffled = data_shuffled[[	'longitude',	'latitude', 
                               'housing_median_age',	'total_rooms',
                               'total_bedrooms',	'population',
                               'households',	'median_income',
                               '<1H OCEAN', 'INLAND',	
                               'ISLAND', 'NEAR BAY',	
                               'NEAR OCEAN', 'median_house_value']] # put house price as a last column
data_shuffled

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN,median_house_value
4712,-118.36,34.06,39.0,2810.0,670.0,1109.0,624.0,3.2500,True,False,False,False,False,355000.0
2151,-119.78,36.78,37.0,2185.0,455.0,1143.0,438.0,1.9784,False,True,False,False,False,70700.0
15927,-122.42,37.73,46.0,1819.0,411.0,1534.0,406.0,4.0132,False,False,False,True,False,229400.0
82,-122.28,37.81,52.0,340.0,97.0,200.0,87.0,1.5208,False,False,False,True,False,112500.0
8161,-118.13,33.82,37.0,1530.0,290.0,711.0,283.0,5.1795,True,False,False,False,False,225400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10955,-117.88,33.76,17.0,1768.0,474.0,1079.0,436.0,1.7823,True,False,False,False,False,205300.0
17289,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,True,False,False,False,False,500001.0
5192,-118.26,33.93,42.0,1433.0,295.0,775.0,293.0,1.1326,True,False,False,False,False,104800.0
12172,-117.16,33.73,10.0,2381.0,454.0,1323.0,477.0,2.6322,False,True,False,False,False,140700.0
235,-122.20,37.79,35.0,1802.0,459.0,1009.0,390.0,2.3036,False,False,False,True,False,126000.0

In [9]:
data_shuffled = data_shuffled.dropna() # drop rows with missing data
len(data_shuffled)

20433

In [10]:
# SPLITING DATASET

train_data, test_data, val_data = data_shuffled[:18000], data_shuffled[18000:19215], data_shuffled[19215:]
len(train_data), len(test_data), len(val_data)

(18000, 1215, 1218)

In [11]:
X_train, Y_train = train_data.to_numpy()[:, :-1], train_data.to_numpy()[:, -1]
X_val, Y_val = val_data.to_numpy()[:, :-1], val_data.to_numpy()[:, -1]
X_test, Y_test = test_data.to_numpy()[:, :-1], test_data.to_numpy()[:, -1]

X_train.shape, Y_train.shape, X_val.shape, Y_val.shape, X_test.shape, Y_test.shape

((18000, 13), (18000,), (1218, 13), (1218,), (1215, 13), (1215,))

In [17]:
# SCALING DATA
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler().fit(X_train[:, :8])

def preprocessor(X):
    A = np.copy(X)
    A[:, :8] = scaler.transform(A[:, :8])
    return A

X_train, X_test, X_val = preprocessor(X_train), preprocessor(X_test), preprocessor(X_val)
pd.DataFrame(X_train)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.603443,-0.736073,0.820845,0.081039,0.315396,-0.27684,0.328234,-0.326667,True,False,False,False,False
1,-0.105122,0.537108,0.661774,-0.206526,-0.196843,-0.246809,-0.160526,-0.995001,False,True,False,False,False
2,-1.422454,0.981785,1.377592,-0.374924,-0.301674,0.098553,-0.244613,0.074459,False,False,False,True,False
3,-1.352596,1.019231,1.854804,-1.055419,-1.049782,-1.07974,-1.082862,-1.235508,False,False,False,True,False
4,0.718211,-0.848412,0.661774,-0.507894,-0.589957,-0.628385,-0.567825,0.687448,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17995,0.728191,-0.815647,0.423168,-0.057912,0.134325,0.111802,0.120643,-0.34932,True,False,False,False,False
17996,-0.459404,0.785191,1.298057,-0.368023,-0.277849,-0.01539,-0.241986,-0.956265,False,True,False,False,False
17997,0.593464,-0.731392,-0.610792,0.468908,0.996794,0.077354,1.027213,-0.165155,True,False,False,False,False
17998,1.127382,-0.731392,0.90038,0.139013,0.463112,0.531359,0.464877,-0.923784,False,True,False,False,False
17999,0.922797,-0.942029,-0.610792,-0.143492,-0.046745,-0.671665,-0.110599,-0.369818,True,False,False,False,False

In [75]:
# MSE -> sum( (y_hat(x) - y)^2 )/n
# Linear Regression
from sklearn.metrics import mean_squared_error as mse
from sklearn.linear_model import LinearRegression

linear_model = LinearRegression().fit(X_train, Y_train)
mse(linear_model.predict(X_train), Y_train, squared=False), mse(linear_model.predict(X_val), Y_val, squared=False), linear_model.score(X_train, Y_train)

(68593.05578127236, 71382.43558330165, 0.6463923971862777)

In [80]:
# K nearest neighbors
from sklearn.neighbors import KNeighborsRegressor

knn = KNeighborsRegressor(n_neighbors=10).fit(X_train, Y_train)
mse(knn.predict(X_train), Y_train, squared=False), mse(knn.predict(X_val), Y_val, squared=False), knn.score(X_train, Y_train)

(53759.09908812057, 62161.22860469906, 0.7827972815370782)

In [85]:
# Random forest tree
from sklearn.ensemble import RandomForestRegressor

rfr = RandomForestRegressor(max_depth=10).fit(X_train, Y_train)
mse(rfr.predict(X_train), Y_train, squared=False), mse(rfr.predict(X_val), Y_val, squared=False), rfr.score(X_train, Y_train)

(43468.47258141836, 53144.483818979264, 0.8579929020375994)

In [91]:
# Gradient Boosting 
from sklearn.ensemble import GradientBoostingRegressor

gbr = GradientBoostingRegressor(n_estimators=250).fit(X_train, Y_train)
mse(gbr.predict(X_train), Y_train, squared=False), mse(gbr.predict(X_val), Y_val, squared=False), gbr.score(X_train, Y_train)

(47274.82259072157, 51376.131177979456, 0.8320341052252139)